*{
	margin: 0px;
	padding: 0px;
}
#DIV{
	width: 1200px;
	margin: 0px auto;
	text-align: center;
}
h2{
	color: gray;
	font-size: 25px;
	line-height: 45px;
}
hr{
	width: 240px;
	margin: 0px auto;
	border: 1px solid red;
}
#phones{
	width: 100%;
	height: 380px;
}
.phone{
	width: 200px;
	height: 270px;
	box-shadow: 0px 0px 10px gainsboro;
	float: left;
	margin: 30px 50px 0px 50px;
	text-align: left;
}
.phone img{
	width: 100%;
}
.phone .name{
	margin-left: 10px;
	line-height: 30px;
}
.phone .money{
	margin-left: 10px;
	color: red;
}
.phone .mai{
	width: 50px;
	height: 25px;
	font-size: 14px;
	background-color: red;
	color: white;
	text-align: center;
	line-height: 25px;
	border-radius: 5px;
	float: right;
	margin-right: 10px;
}
#go{
	width: 100%;
	margin-top: 20px;
}
#go table{
	width: 100%;
	text-align: left;
	border: 1px solid gainsboro;
	padding: 8px;
}
#go th{
	background-color: gainsboro;
	height: 40px;
	padding-left: 15px;
}
#go .tr{
	height: 150px;	
	line-height: 150px;
} 
#go td{
	padding-left: 15px;
}
#go .tr img{
	width: 150px;
	float: left;
}
#go .tr .go-money{
	color: red;
}
#go .tr .num{
	width: 35px;
	height: 23px;
	background-color: white;
	border: 0px;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	outline: none;
	text-align: center;
}
#go .tr .add,.move{
	width: 25px;
	height: 25px;
	background-color: white;
	border: 1px solid red;
	cursor: pointer;
	outline: none;
}
#go .tr .xiaoj-money{
	color: red;
}
#go .tr .shan{
	width: 60px;
	height: 30px;
	text-align: center;
	color: white;
	background-color: red;
	line-height: 30px;
	border-radius: 5px;
}
#jiesuan{
	width: 100%;
	height: 100px;
	border: 1px solid gainsboro;
	margin-top: 25px;
	line-height: 50px;
}
#jiesuan #zo{
	height: 50px;
	text-align: right;
	padding-right: 20px;
}
#jiesuan #zo #zo-num,#zo-money{
	font-size: 20px;
	color: red;
}
#jiesuan #jie{
	background-color: gainsboro;
	float: left;
	width: 75%;
	height: 50px;
	text-align: right;
	color: gray;
	padding-right: 1%;
}
#jiesuan #suan{
	width: 24%;
	height: 50px;
	float: right;
	background-color: red;
	color: white;
}